body, html {
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

a {
	text-decoration: none;
}

label { 
	/* defecto: inline-block; */
	vertical-align: middle;
}

.encabezado {
	background: rgba(120, 250, 180, 0.85);
}

.encabezado-titulo {
	text-align: left;
	margin: 0 1em;
	color: rgba(0, 0, 0, 0.70);
}

.encabezado-titulo:hover {
	color: rgba(0, 0, 0, 1);
}

.encabezado-profile {
	margin: 0 1.5em;
	text-align: right;
}

.menu-navegacion {
	background: #FFFF80;
}

.seccion-titulos {
	background: rgba(0, 200, 190, 0.2);
}

.menu-boton {
	display: inline-block;
	margin: 1.5em 1em;
	min-width: 7em;
	line-height: 4.5em;
	background: rgb(78, 156, 175);
	padding: 0 1em;
	border-radius: 0.25em;
	color: white;
	font-weight: bold;		
}

.menu-boton:hover {
	background: rgb(38, 116, 115);
}

.edicion-boton {
	background: rgba(20, 50, 20, 0.85);
	color: white;
	line-height: 3em;
	display: inline-block;
	font-weight: bold;	
	margin: 0.5em 1.2em;
	max-width: 15em;
	padding: 0.4em 1.2em;
	border-radius: 10px 0 10px 0;
	text-shadow: 0 0 1px #aaa;
	-webkit-transition:all 100ms linear;
	-moz-transition:all 100ms linear;
	-o-transition:all 100ms linear;
	transition:all 100ms linear;
	border-color: transparent;	
}

.menu-boton img, .edicion-boton img {
	vertical-align: middle;
}

.contenedor {
	margin: 1em auto;
	width: 60%;
	border:dotted 2px;
	border-radius: 15px;
	border-color: #0000FF;
	background: #A0DEDE;
	
}

.derecha {
	float: right;
	margin: 0.7em 0.8em;
}

.izquierda {
	float: left;
	margin: 0.7em 0.8em;
}

.title {
	display: inline-block;
}

.espacio-superior {
	margin-top: 20px;
}

.tablilla-fila:hover {
	background: #4E9CAF;
	font-weight: bold;
}

.volver {
	background: #80FF80;
	border: dashed 1px;
	line-height: 3em;
}

.volver label, .volver img {
	vertical-align: middle;
	margin: 0 0.5em;
}

.actual {
	background: rgba(120, 180, 255, 0.6);
	padding: 0.4em 0;
}

.editar {
	background: rgba(10, 20, 100, 0.8);
	color: yellow;
	border: solid rgba(0, 0, 0, 0.4);
	border-radius: 1em;
	width: 700px;
	margin: 1em auto;
	height: 100px;
	padding: 1.2em 0 2.4em 0;
	display: none;
}

.tablilla {
	width: 60%;
	margin: 0 auto;
	color: rgba(250, 255, 250, 0.8);
	background-color: rgba(0, 0, 0, 0.6);
}

.areaRedaccion {
	display: block;
	margin: 0 auto;
	font-family: Arial,Sans-serif;
	font-size: 1em;
}

.radiobtn {
	border: 0px;
    width: 1.7em;
    height: 1.7em;
    vertical-align: middle;
}

.edicion-boton:hover {
	border-radius: 0 10px 0 10px;
	color: #fff;
}

.como-bloque {
	display: block;
	margin: 0.5em auto;
}