body, html {
	margin: 0;
	padding: 0;	
	font-size: 16px;
}

header {
	text-align: center;	
}

h3, h4 {
	display: inline-block;
}

span {
	font-weight: bold;
	display: inline;
}

.link {
	margin-left: 1em;
	text-decoration: none;
	font-weight: bold;
	color: rgb(0, 0, 150);
}

.seccion-titulo {
	margin: 1.5em 3em;
}

.capitulo {
	margin-left: 2em;
}

.articulo {
	margin-left: 2em;
}